@import url(./__item/photo-grid__item.css);

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  column-gap: 16px;
  row-gap: 16px;
  object-fit: cover;
  margin: 0 auto;
  width: calc(100% - 96px);
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: calc(100% - 32px);
  }
}

