.footer__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.12;
  border-bottom: none;
}

@media screen and (max-width: 450px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
