@font-face {
  src: url(./Regular/Inter-Regular.woff) format('woff');
  src: url(./Regular/Inter-Regular.woff2) format('woff2');
  src: url(./Regular/Inter-Regular.ttf) format('truetype');
  src: url(./Regular/Inter-Regular.otf) format('opentype');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url(./Bold/Inter-Bold.woff) format('woff');
  src: url(./Bold/Inter-Bold.woff2) format('woff2');
  src: url(./Bold/Inter-Bold.ttf) format('truetype');
  src: url(./Bold/Inter-Bold.otf) format('opentype');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url(./Black/Inter-Black.woff) format('woff');
  src: url(./Black/Inter-Black.woff2) format('woff2');
  src: url(./Black/Inter-Black.ttf) format('truetype');
  src: url(./Black/Inter-Black.otf) format('opentype');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
}
