@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__desc/intro__desc.css);

.intro {
  width: calc(100% - 296px);
  padding: 92px 0 74px;
  /* нижний отступ изменила для PixelPerfect */
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
    padding: 88px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: calc(100% - 32px);
    padding: 64px 0;
  }
}
