@import url(./__nav/footer__nav.css);
@import url(./__list/footer__list.css);
@import url(./__list-item/footer__list-item.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 0 24px;
  width: calc(100% - 96px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 450px) {
  .footer {
    display: block;
    padding: 64px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: calc(100% - 32px);
  }
}
